*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.aab
*.ap_

*.class
*.jar
!gradle-wrapper.jar
*.war
*.ear

*.log
*.tmp

keystore.properties
*.jks
*.keystore

google-services.json

captures/
.output/
